:root {
  --color-brand: #e01d3f;
}

.Notifications {
  border: 2px dashed var(--color-brand);
  padding: 0.5rem;
}
.Notifications button img {
  width: 15px;
}

[data-priority='default'] {
  color: #260e6a;
}

[data-priority='urgent'] {
  color: #e01d3f;
}
